<div class="body">
  <div ng-show="error">
    <p>Error: {{error}}</p>
  </div>

  <form name="goalForm" ng-submit="submitForm(goalForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : goalForm.name.$invalid && !goalForm.name.$pristine }">
        <label>Goal Name</label>
        <input type="text" autofocus name="name" class="form-control" ng-model="goal.name">
        <p ng-show="goalForm.name.$invalid && !goalForm.name.$pristine" class="help-block">Name is required.</p>
        <div field_error errors="error" field="name"></div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : goalForm.category.$invalid && !goalForm.category.$pristine }">
        <label>Category</label>
        <input type="text" name="category" class="form-control" ng-model="goal.category" required>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : goalForm.description.$invalid && !goalForm.description.$pristine }">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="goal.description" required>
    </div>

    <div class="controls">
      <button ng-click="submit()" class="btn btn-primary" ng-disabled="goalForm.$invalid">Save</button>
      <button ng-click="cancel()" class="btn btn-danger" >Cancel</button>
    </div>

  </form>

